*.rbxm
*.rbxmx
*.rbxl
*.rbxlx
*.lock

sourcemap.json

Packages
DevPackages
ServerPackages

roblox.yml
roblox.toml

test/excluded_tests

dist/

docs/.vitepress/dist
docs/.vitepress/cache
docs/node_modules